

<footer class="border-top" >
    <div class="f-info margin-top">
        <div class="f-info-socials">
            <a href="wwww.facebook.com" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="/instagram" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="/linkedin" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </div>
    </div>
    <div class="f-info-brand margin-top">
        &copy; Wanderlust Private Limited
    </div>
    <div class="f-info-links margin-bottom margin-top">
        <a href="/privacy">Privacy</a>
        <a href="/terms" class="margin-left" >Terms</a>
    </div>
</footer>