<!-- google fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
  rel="stylesheet">

<!-- css stylesheet -->
<link rel="stylesheet" href="/css/style.css">

<nav class="navbar navbar-expand-md border-bottom   " style="padding: 0 20px 0 20px;">

  <div class="container-fluid" style="padding:0px; ">
    <a class="navbar-brand" href="/"><i class="fa-regular fa-compass logo-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/listings">All Listings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listings/new">New Listings</a>
        </li>
      </ul>
    </div>

    <!-- logout -->
    <% if (currUser) {%>

      <a href="/logout">
        <button class="btn btn-primary " style="background-color: #FF385C; border-color: #FF385C;">Logout</button>
      </a>
      <% } %>

        <!-- Signup x signin -->


        <% if(!currUser){ %>
          <a href="/signup">
            <button class="btn btn-outline-dark">SignUp</button>
          </a>
          <a href="/login">
            <button class="btn btn-outline-dark" style="margin:0px 5px 0px 5px; ">SignIn</button>
          </a>
          <% } %>
</nav>